<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin Dashboard</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/public/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/public/assets/vendors/css/vendor.bundle.base.css"
    />
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <link rel="shortcut icon" href="/public/assets/images/favicon.png" />
    <!-- Include jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    <style>
      /* Basic styling for modal */
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
      }
      .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
      }
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    </style>
    <style>
      /* Add these styles to your existing styles */
      .best-sellers-card {
        height: 100%;
      }
      .best-sellers-list {
        height: 300px;
        overflow-y: auto;
      }
      .best-sellers-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 5px;
      }
      .best-sellers-item img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 5px;
      }
      .best-sellers-item-details {
        flex-grow: 1;
      }
      .best-sellers-item-name {
        font-weight: bold;
        margin-bottom: 5px;
        color: black;
      }
      .best-sellers-item-sales {
        font-size: 0.9em;
        color: #6c757d;
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- Sidebar -->
      <%- include('partials/_sidebar') %>

      <!-- Main content -->
      <div class="container-fluid page-body-wrapper">
        <!-- Navbar -->
        <%- include('partials/_navbar') %>

        <!-- Main Panel -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Admin Dashboard</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Charts</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Chart-js
                  </li>
                </ol>
              </nav>
            </div>

            <!-- Report Generation Form -->
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5 id="generateReport" class="card-title">
                      Generate Sales Report
                    </h5>
                    <form id="reportForm" novalidate>
                      <div class="form-group">
                        <label for="reportType">Select Report Type:</label>
                        <select
                          id="reportType"
                          name="reportType"
                          class="form-control"
                          required
                        >
                          <option value="default">Select...</option>
                          <option value="yearly">Yearly</option>
                          <option value="monthly">Monthly</option>
                          <option value="weekly">Weekly</option>
                          <option value="daily">Daily</option>
                          <option value="custom">Custom Range</option>
                        </select>
                        <div class="invalid-feedback">
                          Please select a report type.
                        </div>
                        <div class="valid-feedback">Looks good!</div>
                      </div>

                      <div
                        class="form-group"
                        id="customDateRange"
                        style="display: none"
                      >
                        <label for="startDate">Start Date:</label>
                        <input
                          type="date"
                          id="startDate"
                          name="startDate"
                          class="form-control"
                          required
                        />
                        <div class="invalid-feedback">
                          Please select a valid start date.
                        </div>
                        <div class="valid-feedback">Looks good!</div>

                        <label for="endDate">End Date:</label>
                        <input
                          type="date"
                          id="endDate"
                          name="endDate"
                          class="form-control"
                          required
                        />
                        <div class="invalid-feedback">
                          Please select a valid end date.
                        </div>
                        <div class="valid-feedback">Looks good!</div>
                      </div>

                      <button
                        type="button"
                        id="generateReportButton"
                        class="btn btn-danger"
                      >
                        PDF Report
                      </button>
                      <button
                        type="button"
                        id="generateExcelReportButton"
                        class="btn btn-success"
                      >
                        XLS Report
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Best Selling Products and Categories -->
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card best-sellers-card">
                  <div class="card-body">
                    <h4 class="card-title">Top 3 Best Selling Categories</h4>
                    <div class="best-sellers-list">
                      <% topCategories.forEach((category, index) => { %>
                      <div class="best-sellers-item">
                        <!-- <img
                          src="/public/uploads/<%= category.image %>"
                          alt="<%= category.name %>"
                        /> -->
                        <div class="best-sellers-item-details">
                          <div class="best-sellers-item-name">
                            <%= index + 1 %>. <%= category.name %>
                          </div>
                          <div class="best-sellers-item-sales">
                            Sales: <%= category.sales %>
                          </div>
                        </div>
                      </div>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card best-sellers-card">
                  <div class="card-body">
                    <h4 class="card-title">Top 5 Best Selling Products</h4>
                    <div class="best-sellers-list">
                      <% topProducts.forEach((product, index) => { %>
                      <div class="best-sellers-item">
                        <img
                          src="/public/uploads/<%= product.image %>"
                          alt="<%= product.name %>"
                        />
                        <div class="best-sellers-item-details">
                          <div class="best-sellers-item-name">
                            <%= index + 1 %>. <%= product.name %>
                          </div>
                          <div class="best-sellers-item-sales">
                            Sales: <%= product.sales %>
                          </div>
                        </div>
                      </div>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- sales-chart.ejs -->
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-3"
                    >
                      <h2>Sales Chart</h2>
                      <select
                        id="timeRange"
                        class="form-select"
                        style="width: auto"
                      >
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly" selected>Monthly</option>
                        <option value="yearly">Yearly</option>
                      </select>
                    </div>
                    <canvas id="salesChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2>Order Status Distribution</h2>
                    <canvas id="orderStatusChart"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2>User Growth</h2>
                    <canvas id="userGrowthChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div id="pdfModal" class="modal">
              <div class="modal-content">
                <span class="close" id="pdfClose">&times;</span>
                <iframe
                  id="pdfIframe"
                  style="width: 100%; height: 600px; border: none"
                ></iframe>
                <button id="downloadPdf">Download PDF</button>
              </div>
            </div>
          </div>

          <!-- Footer -->
          <%- include('partials/_footer') %>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="/public/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/public/assets/js/off-canvas.js"></script>
    <script src="/public/assets/js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- <script src="/public/assets/vendors/chart.js/Chart.min.js"></script> -->

    <script src="/public/assets/js/hoverable-collapse.js"></script>
    <!-- <script src="/public/assets/js/template.js"></script> -->
    <script src="/public/assets/js/settings.js"></script>
    <script src="/public/assets/js/todolist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>

    <script type="module" src="/public/user/js/validationUtils.js"></script>
    <script type="module" src="/public/user/js/AdminDashboard.js"></script>
  </body>
</html>
