<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Category Management</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/public/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/public/assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/public/assets/images/favicon.png" />
    <!-- Load jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('partials/_navbar', { pageType: 'categories' }) %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Category Management</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Admin</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Category
                  </li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                      <h4 class="card-title">Category Management</h4>
                      <button
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#createCategoryModal"
                      >
                        Create New Category
                      </button>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>SI</th>
                            <th>Category Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% categories.forEach((category, idx) => { %>
                          <tr>
                            <td>
                              <%= ((current - 1) * perPage) + (idx + 1) %>
                            </td>
                            <td id="categoryName-<%= category._id %>">
                              <%= category.name %>
                            </td>
                            <td>
                              <button
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="#editCategoryModal"
                                data-id="<%= category._id %>"
                                data-name="<%= category.name %>"
                                onclick="populateEditCategoryModal('<%= category._id %>', '<%= category.name %>')"
                              >
                                Edit
                              </button>

                              <button
                                id="listButton-<%= category._id%>"
                                class="btn <%= category.isListed ? 'btn-danger' : 'btn-success' %>"
                                onclick="confirmAndToggleListCategory('<%= category._id %>', '<%= category.isListed %>')"
                              >
                                <%= category.isListed ? 'Unlist' : 'List' %>
                              </button>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <% if (current > 1) { %>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page=<%= current - 1 %>"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% } %> <% for (let i = 1; i <= pages; i++) { %>
                <li class="page-item <%= current == i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
                <% } %> <% if (current < pages) { %>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page=<%= ++current %>"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
          <!-- content-wrapper ends -->

          <!-- content-wrapper ends -->

          <!-- partial:partials/_footer.ejs -->
          <%- include('partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <!-- Create New Category Modal -->
    <div
      class="modal fade"
      id="createCategoryModal"
      tabindex="-1"
      aria-labelledby="createCategoryModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="createCategoryForm">
            <div class="modal-header">
              <h5 class="modal-title" id="createCategoryModalLabel">
                Create New Category
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="newCategoryName">Category Name:</label>
                <input
                  type="text"
                  id="newCategoryName"
                  name="categoryName"
                  class="form-control"
                />
                <div class="invalid-feedback">Category name is required.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Category Modal -->
    <div
      class="modal fade"
      id="editCategoryModal"
      tabindex="-1"
      aria-labelledby="editCategoryModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="editCategoryForm">
            <div class="modal-header">
              <h5 class="modal-title" id="editCategoryModalLabel">
                Edit Category
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="hidden" id="editCategoryId" name="categoryId" />
              <div class="form-group">
                <label for="editCategoryName">Category Name:</label>
                <input
                  type="text"
                  id="editCategoryName"
                  name="categoryName"
                  class="form-control"
                />
                <div class="invalid-feedback">Category name is required.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      // Real-time validation for category name in create and edit forms
      document
        .getElementById("newCategoryName")
        .addEventListener("input", function () {
          validationUtils.validateRequiredField(
            this,
            "Category name is required."
          );
        });

      document
        .getElementById("editCategoryName")
        .addEventListener("input", function () {
          validationUtils.validateRequiredField(
            this,
            "Category name is required."
          );
        });

      // Form validation on submit
      document
        .getElementById("createCategoryForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          const isValid = validationUtils.validateForm("createCategoryForm", [
            {
              id: "newCategoryName",
              type: "required",
              message: "Category name is required.",
            },
          ]);

          if (isValid) {
            // Form is valid, you can proceed to submit or further actions
            createCategory();
          }
        });

      document
        .getElementById("editCategoryForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          const isValid = validationUtils.validateForm("editCategoryForm", [
            {
              id: "editCategoryName",
              type: "required",
              message: "Category name is required.",
            },
          ]);

          if (isValid) {
            // Form is valid, you can proceed to submit or further actions
            editCategory();
          }
        });
    </script>

    <!-- container-scroller -->

    <!-- for modals -->
    <!-- for axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- SweetAlert2 CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="/public/user/js/categoryManagement.js"></script>
    <script src="/public/user/js/validationUtils.js"></script>

    <!-- partial:partials/_footer.ejs -->
    <%- include('partials/_scripts') %>
    <!-- partial -->
  </body>
</html>
