<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin Demo</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/public/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/public/assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/public/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <a href="/admin/dashboard">Admin</a>
            >
            <a href="/admin/users">User Management</a>
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">User List</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>SI</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% users.forEach((user, idx) => { %>
                          <tr>
                            <td>
                              <%= ((current - 1) * perPage) + (idx + 1) %>
                            </td>
                            <td><%= user.firstName %> <%= user.lastName %></td>

                            <td><%= user.email %></td>
                            <td>
                              <button
                                class="btn <%= user.isBlocked ? 'btn-success' : 'btn-danger' %>"
                                onclick="confirmAndToggleBlock('<%= user._id %>', '<%= user.isBlocked %>')"
                              >
                                <%= user.isBlocked ? 'Unblock' : 'Block' %>
                              </button>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <% if (current > 1) { %>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page=<%= current - 1 %>"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% } %> <% for (let i = 1; i <= pages; i++) { %>
                <li class="page-item <%= current == i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
                <% } %> <% if (current < pages) { %>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page=<%= ++current %>"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.ejs -->
          <%- include('partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- for axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/user/js/userManagement.js"></script>
    <!-- partial:partials/_scripts.ejs -->
    <%- include('partials/_scripts') %>
    <!-- partial -->
    <!-- Custom JS for toggling block status -->
  </body>
</html>
