<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Profile</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Custom Fonts -->
    <style>
      @font-face {
        font-family: "Poppins";
        src: url("/public/user/fonts/poppins/Poppins-Regular.ttf")
          format("truetype");
      }

      body {
        font-family: "Poppins", sans-serif;
        background-color: #ffffff;
        color: #000000;
      }

      .container {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
      }

      .sidebar {
        background-color: #eaeaea;
        padding: 20px;
        border-radius: 10px;
      }

      .sidebar .nav-link {
        color: #000000;
      }

      .sidebar .nav-link.active {
        color: #ffffff;
        font-weight: bold;
        background-color: #000000;
        border-radius: 5px;
      }

      .sidebar .nav-link:hover {
        background-color: #cccccc;
      }

      .profile-section img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

      .form-control {
        background-color: #f8f9fa;
        border: none;
        color: #000000;
      }

      .form-control:focus {
        background-color: #ffffff;
        color: #000000;
      }

      .btn-primary {
        background-color: #000000;
        border-color: #000000;
      }

      .btn-primary:hover {
        background-color: #333333;
        border-color: #333333;
      }

      .modal-content {
        background-color: #f8f9fa;
        color: #000000;
      }

      .modal-header,
      .modal-body {
        border-color: #e0e0e0;
      }

      h4,
      label {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
        <!-- Sidebar Navigation -->
        <div class="col-md-3">
          <div class="sidebar">
            <div class="text-center mb-4">
              <img
                class="rounded-circle"
                src="<%= user.thumbnail %>"
                alt="Profile Picture"
              />
              <h4><%= user.firstName %> <%= user.lastName %></h4>
              <p class="text-muted"><%= user.email %></p>
            </div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#" id="personal-details-link"
                  >Personal Details</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="addresses-link">Addresses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="orders-link">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="forgot-password-link"
                  >Forgot Password</a
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Main Content Area -->
        <div class="col-md-9">
          <div class="p-3 py-5" id="content-area">
            <!-- Personal Details Section -->
            <div id="personal-details">
              <div
                class="d-flex justify-content-between align-items-center mb-3"
              >
                <h4>Personal Information</h4>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal"
                >
                  Edit
                </button>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label class="labels">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= user.firstName %>"
                    readonly
                  />
                </div>
                <div class="col-md-6">
                  <label class="labels">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= user.lastName %>"
                    readonly
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label class="labels">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= user.email %>"
                    readonly
                  />
                </div>
                <div class="col-md-12">
                  <label class="labels">Account Status</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= user.isVerified ? 'Verified' : 'Not Verified' %>"
                    readonly
                  />
                </div>
              </div>
            </div>

            <!-- Addresses Section -->
            <div id="addresses">
              <h4>Addresses</h4>

              <% if (addresses.length === 0) { %>
              <p>No addresses found.</p>
              <% } else { %>
              <div class="list-group">
                <% addresses.forEach(function(address) { %>
                <div
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <h5><%= address.firstName %> <%= address.lastName %></h5>
                    <p>
                      <%= address.address %><br />
                      <%= address.addressLine2 ? address.addressLine2 + '<br />'
                      : '' %> <%= address.city %>, <%= address.state %>, <%=
                      address.pinCode %><br />
                      <%= address.country %><br />
                      <small><%= address.phoneNo %></small>
                    </p>
                  </div>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#editAddressModal"
                    data-address-id="<%= address._id %>"
                    data-address-first-name="<%= address.firstName %>"
                    data-address-last-name="<%= address.lastName %>"
                    data-address-line1="<%= address.addressLine1 %>"
                    data-address-line2="<%= address.addressLine2 %>"
                    data-address-city="<%= address.city %>"
                    data-address-state="<%= address.state %>"
                    data-address-zip="<%= address.pinCode %>"
                    data-address-country="<%= address.country %>"
                    data-address-phone="<%= address.phoneNo %>"
                  >
                    Edit Address
                  </button>
                </div>
                <% }) %>
              </div>
              <% } %>

              <button id="createNewAddressBtn" class="btn btn-success mt-3">
                Create New Address
              </button>
            </div>

            <!-- Edit Address Modal -->
            <div
              class="modal fade"
              id="editAddressModal"
              tabindex="-1"
              aria-labelledby="editAddressModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editAddressModalLabel">
                      Edit Address
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="/updateAddress" method="POST">
                      <input type="hidden" id="addressId" name="addressId" />

                      <div class="mb-3">
                        <label for="firstName" class="form-label"
                          >First Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="editFirstName"
                          name="firstName"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="lastName" class="form-label"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="editLastName"
                          name="lastName"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="addressLine1" class="form-label"
                          >Address Line 1</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="editAddressLine1"
                          name="addressLine1"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="addressLine2" class="form-label"
                          >Address Line 2</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="editAddressLine2"
                          name="addressLine2"
                        />
                      </div>

                      <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input
                          type="text"
                          class="form-control"
                          id="editCity"
                          name="city"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input
                          type="text"
                          class="form-control"
                          id="editState"
                          name="state"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input
                          type="text"
                          class="form-control"
                          id="editZipCode"
                          name="zipCode"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input
                          type="text"
                          class="form-control"
                          id="editCountry"
                          name="country"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input
                          type="text"
                          class="form-control"
                          id="editPhone"
                          name="phone"
                          required
                        />
                      </div>

                      <button type="submit" class="btn btn-primary">
                        Save changes
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Orders Section (Hidden Initially) -->
            <div id="orders" class="d-none">
              <h4>Orders</h4>
              <p>This section will display user's orders.</p>
            </div>

            <!-- Forgot Password Section (Hidden Initially) -->
            <div id="forgot-password" class="d-none">
              <h4>Forgot Password</h4>
              <form action="/forgot-password" method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Email Address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    value="<%= user.email %>"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">
              Edit Personal Information
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/updateProfile" method="POST">
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  value="<%= user.firstName %>"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  value="<%= user.lastName %>"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  value="<%= user.email %>"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="accountStatus" class="form-label"
                  >Account Status</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="accountStatus"
                  name="accountStatus"
                  value="<%= user.isVerified ? 'Verified' : 'Not Verified' %>"
                  readonly
                />
              </div>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Custom JavaScript -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Sidebar navigation
        const personalDetailsLink = document.getElementById(
          "personal-details-link"
        );
        const addressesLink = document.getElementById("addresses-link");
        const ordersLink = document.getElementById("orders-link");
        const forgotPasswordLink = document.getElementById(
          "forgot-password-link"
        );

        const personalDetailsSection =
          document.getElementById("personal-details");
        const addressesSection = document.getElementById("addresses");
        const ordersSection = document.getElementById("orders");
        const forgotPasswordSection =
          document.getElementById("forgot-password");

        personalDetailsLink.addEventListener("click", function () {
          personalDetailsSection.classList.remove("d-none");
          addressesSection.classList.add("d-none");
          ordersSection.classList.add("d-none");
          forgotPasswordSection.classList.add("d-none");
          updateActiveNavLink(personalDetailsLink);
        });

        addressesLink.addEventListener("click", function () {
          personalDetailsSection.classList.add("d-none");
          addressesSection.classList.remove("d-none");
          ordersSection.classList.add("d-none");
          forgotPasswordSection.classList.add("d-none");
          updateActiveNavLink(addressesLink);
        });

        ordersLink.addEventListener("click", function () {
          personalDetailsSection.classList.add("d-none");
          addressesSection.classList.add("d-none");
          ordersSection.classList.remove("d-none");
          forgotPasswordSection.classList.add("d-none");
          updateActiveNavLink(ordersLink);
        });

        forgotPasswordLink.addEventListener("click", function () {
          personalDetailsSection.classList.add("d-none");
          addressesSection.classList.add("d-none");
          ordersSection.classList.add("d-none");
          forgotPasswordSection.classList.remove("d-none");
          updateActiveNavLink(forgotPasswordLink);
        });

        function updateActiveNavLink(activeLink) {
          document.querySelectorAll(".nav-link").forEach(function (link) {
            link.classList.remove("active");
          });
          activeLink.classList.add("active");
        }
      });
    </script>
    <script>
      // Populate modal fields with address data
      var addressModal = document.getElementById("editAddressModal");
      addressModal.addEventListener("show.bs.modal", function (event) {
        var button = event.relatedTarget;
        var addressId = button.getAttribute("data-address-id");
        var firstName = button.getAttribute("data-address-first-name");
        var lastName = button.getAttribute("data-address-last-name");
        var addressLine1 = button.getAttribute("data-address-line1");
        var addressLine2 = button.getAttribute("data-address-line2");
        var city = button.getAttribute("data-address-city");
        var state = button.getAttribute("data-address-state");
        var zipCode = button.getAttribute("data-address-zip");
        var country = button.getAttribute("data-address-country");
        var phone = button.getAttribute("data-address-phone");

        var modal = addressModal.querySelector("form");
        modal.querySelector("#addressId").value = addressId;
        modal.querySelector("#editFirstName").value = firstName;
        modal.querySelector("#editLastName").value = lastName;
        modal.querySelector("#editAddressLine1").value = addressLine1;
        modal.querySelector("#editAddressLine2").value = addressLine2;
        modal.querySelector("#editCity").value = city;
        modal.querySelector("#editState").value = state;
        modal.querySelector("#editZipCode").value = zipCode;
        modal.querySelector("#editCountry").value = country;
        modal.querySelector("#editPhone").value = phone;
      });
    </script>
  </body>
</html>
