<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoping Cart</title>
    <%- include('partials/_header') %>
  </head>
  <body class="animsition">
    <!-- Header -->
    <%- include('partials/_navbar', {user}) %>

    <!-- Cart -->
    <%- include('partials/_wishlist', {wishlist}) %>

    <!-- breadcrumb -->
    <div class="container pt-5">
      <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/user/auth/home" class="stext-109 cl8 hov-cl1 trans-04">
          Home
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="/user/shop/cart" class="stext-109 cl8 hov-cl1 trans-04">
          Shopping Cart
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4"> Checkout </span>
      </div>
    </div>
    <% console.log(cart.products[0].productId)%>

    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85" action="/user/shop/checkout" method="post">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
              <div class="wrap-table-shopping-cart">
                <table class="table-shopping-cart">
                  <tr class="table_head">
                    <th class="column-1">Product</th>
                    <th class="column-2"></th>
                    <th class="column-3">Price</th>
                    <th class="column-4">Quantity</th>
                    <th class="column-5">Total</th>
                  </tr>

                  <% cart.products.forEach(function(product) { %>
                  <tr class="table_row">
                    <td class="column-1">
                      <div class="how-itemcart1">
                        <button
                          id="cartProduct"
                          data-product-id="<%= product.productId  %>"
                        >
                          <img
                            src="/public/uploads/<%= product.productId.images[0] %>"
                            alt="IMG"
                          />
                        </button>
                      </div>
                    </td>
                    <td class="column-2"><%= product.productId.name %></td>
                    <td class="column-3">
                      ₹ <%= (product.price).toFixed(2) %>
                    </td>
                    <td class="column-4">
                      <div class="text-center"><%= product.quantity %></div>
                    </td>
                    <td class="column-5">
                      ₹ <%= (product.price * product.quantity).toFixed(2) %>
                    </td>
                  </tr>
                  <% }) %>
                </table>
              </div>

              <div
                class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm"
              >
                <div class="flex-w flex-m m-r-20 m-tb-5">
                  <input
                    class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
                    type="text"
                    name="coupon"
                    placeholder="Coupon Code"
                  />

                  <div
                    class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
                  >
                    Apply coupon
                  </div>
                </div>

                <div
                  class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                >
                  Update Cart
                </div>
              </div>
            </div>
          </div>

          <!-- //cart total -->
          <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
            <div
              class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm"
            >
              <h4 class="mtext-109 cl2 p-b-30">Cart Totals</h4>

              <div class="flex-w flex-t bor12 p-b-13">
                <div class="size-208">
                  <span class="stext-110 cl2"> Subtotal: </span>
                </div>

                <div class="size-209">
                  <span class="mtext-110 cl2">
                    ₹<%= (cart.totalPrice).toFixed(2) %>
                  </span>
                </div>
              </div>

              <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                <div class="size-208 w-full-ssm">
                  <span class="stext-110 cl2"> Shipping: </span>
                </div>
              </div>

              <div class="flex-w flex-t p-t-27 p-b-33">
                <div class="size-208">
                  <span class="mtext-101 cl2"> Total: </span>
                </div>

                <div class="size-209 p-t-1">
                  <span class="mtext-110 cl2">
                    ₹<%= (cart.totalPrice).toFixed(2) %>
                  </span>
                </div>
              </div>

              <button
                class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
              >
                Continue
              </button>
            </div>
          </div>
          <!-- Delivery Address Selection -->
          <div class="col-lg-6 col-xl-6 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
              <div class="wrap-table-shopping-cart">
                <table class="table-shopping-cart">
                  <tr class="table_head">
                    <th class="column-1">Select</th>
                    <th class="column-2">Address</th>
                    <th class="column-3">Actions</th>
                  </tr>

                  <% if (addresses.length === 0) { %>
                  <tr>
                    <td colspan="3" class="text-center">No addresses found.</td>
                  </tr>
                  <% } else { %> <% addresses.forEach(function(address) { %>
                  <tr class="table_row">
                    <td class="column-1">
                      <input type="radio" name="selectedAddress" value="<%=
                      address._id %>" <%= address.isDefault ? 'checked' : '' %>
                      />
                    </td>
                    <td class="column-2">
                      <strong
                        ><%= address.firstName %> <%= address.lastName
                        %></strong
                      ><br />
                      <%= address.addressLine %>, <%= address.flatNo %><br />
                      <%= address.city %>, <%= address.state %> - <%=
                      address.pincode %><br />
                      <%= address.country %><br />
                      <small>
                        Phone: <%= address.phoneNo %><br />
                        Email: <%= address.email %>
                      </small>
                    </td>
                    <td class="column-3">
                      <button
                        type="button"
                        class="btn-edit-address"
                        data-bs-toggle="modal"
                        data-bs-target="#editAddressModal"
                        data-address-id="<%= address._id %>"
                        data-address-first-name="<%= address.firstName %>"
                        data-address-last-name="<%= address.lastName %>"
                        data-address-line1="<%= address.addressLine %>"
                        data-address-city="<%= address.city %>"
                        data-address-state="<%= address.state %>"
                        data-address-zip="<%= address.pincode %>"
                        data-address-country="<%= address.country %>"
                        data-address-phone="<%= address.phoneNo %>"
                        data-address-flat="<%= address.flatNo %>"
                        title="Edit Address"
                      >
                        <i class="zmdi zmdi-edit p-3 fs-20"></i>
                      </button>
                    </td>
                  </tr>
                  <% }) %> <% } %>
                </table>
              </div>

              <div
                class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm"
              >
                <div class="flex-w flex-m m-r-20 m-tb-5">
                  <button
                    class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
                    data-bs-toggle="modal"
                    data-bs-target="#createAddressModal"
                  >
                    Create New Address
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Payment Method Selection -->
          <div class="col-lg-6 col-xl-6 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
              <div class="wrap-table-shopping-cart">
                <table class="table-shopping-cart">
                  <tr class="table_head">
                    <th class="column-1">Select</th>
                    <th class="column-2">Payment Method</th>
                  </tr>

                  <tr class="table_row">
                    <td class="column-1">
                      <input
                        type="radio"
                        name="selectedPaymentMethod"
                        value="onlinePayment"
                      />
                    </td>
                    <td class="column-2">
                      <strong>Online Payment</strong><br />
                      Pay using credit/debit card, net banking, or UPI.
                    </td>
                  </tr>

                  <tr class="table_row">
                    <td class="column-1">
                      <input
                        type="radio"
                        name="selectedPaymentMethod"
                        value="wallet"
                      />
                    </td>
                    <td class="column-2">
                      <strong>Wallet</strong><br />
                      Pay using your digital wallet balance.
                    </td>
                  </tr>

                  <tr class="table_row">
                    <td class="column-1">
                      <input
                        type="radio"
                        name="selectedPaymentMethod"
                        value="cod"
                      />
                    </td>
                    <td class="column-2">
                      <strong>Cash on Delivery</strong><br />
                      Pay with cash upon delivery of the product.
                    </td>
                  </tr>
                </table>
              </div>

              <div
                class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm"
              >
                <div class="flex-w flex-m m-r-20 m-tb-5">
                  <button
                    class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
                    onclick="goBackToPreviousPage()"
                  >
                    Go Back
                  </button>
                </div>

                <div
                  class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                  onclick="submitCheckoutForm()"
                >
                  Continue
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Footer -->
    <%- include('partials/_footer') %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <%- include('partials/_scripts') %>

    <script src="/public/user/js/main.js"></script>
  </body>
</html>
