<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoping Cart</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="/public/user/images/icons/favicon.png"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/user/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/user/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/public/user/css/main.css" />
    <!--===============================================================================================-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  </head>
  <body class="animsition">
    <!-- Header -->
    <%- include('partials/_navbar', {user}) %>

    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
      <div class="s-full js-hide-cart"></div>

      <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
          <span class="mtext-103 cl2"> Your Cart </span>

          <div
            class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart"
          >
            <i class="zmdi zmdi-close"></i>
          </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
          <ul class="header-cart-wrapitem w-full">
            <li class="header-cart-item flex-w flex-t m-b-12">
              <div class="header-cart-item-img">
                <img src="/public/user/images/item-cart-01.jpg" alt="IMG" />
              </div>

              <div class="header-cart-item-txt p-t-8">
                <a
                  href="#"
                  class="header-cart-item-name m-b-18 hov-cl1 trans-04"
                >
                  White Shirt Pleat
                </a>

                <span class="header-cart-item-info"> 1 x $19.00 </span>
              </div>
            </li>

            <li class="header-cart-item flex-w flex-t m-b-12">
              <div class="header-cart-item-img">
                <img src="/public/user/images/item-cart-02.jpg" alt="IMG" />
              </div>

              <div class="header-cart-item-txt p-t-8">
                <a
                  href="#"
                  class="header-cart-item-name m-b-18 hov-cl1 trans-04"
                >
                  Converse All Star
                </a>

                <span class="header-cart-item-info"> 1 x $39.00 </span>
              </div>
            </li>

            <li class="header-cart-item flex-w flex-t m-b-12">
              <div class="header-cart-item-img">
                <img src="/public/user/images/item-cart-03.jpg" alt="IMG" />
              </div>

              <div class="header-cart-item-txt p-t-8">
                <a
                  href="#"
                  class="header-cart-item-name m-b-18 hov-cl1 trans-04"
                >
                  Nixon Porter Leather
                </a>

                <span class="header-cart-item-info"> 1 x $17.00 </span>
              </div>
            </li>
          </ul>

          <div class="w-full">
            <div class="header-cart-total w-full p-tb-40">Total: $75.00</div>

            <div class="header-cart-buttons flex-w w-full">
              <a
                href="shoping-cart.html"
                class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10"
              >
                View Cart
              </a>

              <a
                href="shoping-cart.html"
                class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10"
              >
                Check Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- breadcrumb -->
    <div class="container pt-5">
      <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/user/auth/home" class="stext-109 cl8 hov-cl1 trans-04">
          Home
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a
          href="/user/shop/cart/<%= user._id %>"
          class="stext-109 cl8 hov-cl1 trans-04"
        >
          Shopping Cart
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="/user/shop/checkout" class="stext-109 cl8 hov-cl1 trans-04">
          Checkout
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4"> Address </span>
      </div>
    </div>

    <!-- Shoping Cart -->
    <form
      class="bg0 p-t-75 p-b-85"
      action="/user/shop/delivery-address"
      method="post"
      id="addressForm"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
              <div class="wrap-table-shopping-cart">
                <table class="table-shopping-cart">
                  <tr class="table_head">
                    <th class="column-1">Select</th>
                    <th class="column-2">Address</th>
                    <th class="column-3">Actions</th>
                  </tr>

                  <% if (addresses.length === 0) { %>
                  <tr>
                    <td colspan="3" class="text-center">No addresses found.</td>
                  </tr>
                  <% } else { %> <% addresses.forEach(function(address) { %>
                  <tr class="table_row">
                    <td class="column-1">
                      <input type="radio" name="selectedAddress" value="<%=
                      address._id %>" <%= address.isDefault ? 'checked' : '' %>
                      />
                    </td>
                    <td class="column-2">
                      <strong
                        ><%= address.firstName %> <%= address.lastName
                        %></strong
                      ><br />
                      <%= address.addressLine %>, <%= address.flatNo %><br />
                      <%= address.city %>, <%= address.state %> - <%=
                      address.pincode %><br />
                      <%= address.country %><br />
                      <small>
                        Phone: <%= address.phoneNo %><br />
                        Email: <%= address.email %>
                      </small>
                    </td>
                    <td class="column-3">
                      <button
                        type="button"
                        class="btn-edit-address"
                        data-bs-toggle="modal"
                        data-bs-target="#editAddressModal"
                        data-address-id="<%= address._id %>"
                        data-address-first-name="<%= address.firstName %>"
                        data-address-last-name="<%= address.lastName %>"
                        data-address-line1="<%= address.addressLine %>"
                        data-address-city="<%= address.city %>"
                        data-address-state="<%= address.state %>"
                        data-address-zip="<%= address.pincode %>"
                        data-address-country="<%= address.country %>"
                        data-address-phone="<%= address.phoneNo %>"
                        data-address-flat="<%= address.flatNo %>"
                        title="Edit Address"
                      >
                        <i class="zmdi zmdi-edit p-3 fs-20"></i>
                      </button>
                    </td>
                  </tr>
                  <% }) %> <% } %>
                </table>
              </div>

              <div
                class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm"
              >
                <div class="flex-w flex-m m-r-20 m-tb-5">
                  <button
                    class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
                    data-bs-toggle="modal"
                    data-bs-target="#createAddressModal"
                  >
                    Create New Address
                  </button>
                </div>

                <div
                  class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                  onclick="submitSelectedAddress()"
                >
                  Continue
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
            <div
              class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm"
            >
              <h4 class="mtext-109 cl2 p-b-30">Cart Totals</h4>

              <div class="flex-w flex-t bor12 p-b-13">
                <div class="size-208">
                  <span class="stext-110 cl2"> Subtotal: </span>
                </div>

                <div class="size-209">
                  <span class="mtext-110 cl2"> $<%= cart.totalPrice %> </span>
                </div>
              </div>

              <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                <div class="size-208 w-full-ssm">
                  <span class="stext-110 cl2"> Shipping: </span>
                </div>

                <!-- <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                  <p class="stext-111 cl6 p-t-2">
                    There are no shipping methods available. Please double check
                    your address, or contact us if you need any help.
                  </p>

                  <div class="p-t-15">
                    <span class="stext-112 cl8"> Calculate Shipping </span>

                    <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                      <select class="js-select2" name="time">
                        <option>Select a country...</option>
                        <option>USA</option>
                        <option>UK</option>
                      </select>
                      <div class="dropDownSelect2"></div>
                    </div>

                    <div class="bor8 bg0 m-b-12">
                      <input
                        class="stext-111 cl8 plh3 size-111 p-lr-15"
                        type="text"
                        name="state"
                        placeholder="State /  country"
                      />
                    </div>

                    <div class="bor8 bg0 m-b-22">
                      <input
                        class="stext-111 cl8 plh3 size-111 p-lr-15"
                        type="text"
                        name="postcode"
                        placeholder="Postcode / Zip"
                      />
                    </div>

                    <div class="flex-w">
                      <div
                        class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer"
                      >
                        Update Totals
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>

              <div class="flex-w flex-t p-t-27 p-b-33">
                <div class="size-208">
                  <span class="mtext-101 cl2"> Total: </span>
                </div>

                <div class="size-209 p-t-1">
                  <span class="mtext-110 cl2"> $79.65 </span>
                </div>
              </div>

              <button
                type="submit"
                class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
              >
                Deliver to this address
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Create New Address Modal -->
    <div
      class="modal fade"
      id="createAddressModal"
      tabindex="-1"
      aria-labelledby="createAddressModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createAddressModalLabel">
              Create New Address
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="createAddress">
              <input
                type="hidden"
                name="userId"
                id="userId"
                value="<%= user._id %>"
              />

              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="secondName" class="form-label">Second Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="secondName"
                  name="secondName"
                />
              </div>

              <div class="mb-3">
                <label for="phoneNo" class="form-label">Phone Number</label>
                <input
                  type="number"
                  class="form-control"
                  id="phoneNo"
                  name="phoneNo"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="addressEmail" class="form-label">Email</label>
                <input
                  type="AddressEmail"
                  class="form-control"
                  id="AddressEmail"
                  name="AddressEmail"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="addressLine" class="form-label">Address Line</label>
                <input
                  type="text"
                  class="form-control"
                  id="addressLine"
                  name="addressLine"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="pincode" class="form-label">Pincode</label>
                <input
                  type="number"
                  class="form-control"
                  id="pincode"
                  name="pincode"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="state"
                  name="state"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="country"
                  name="country"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="flatNo" class="form-label">Flat No</label>
                <input
                  type="text"
                  class="form-control"
                  id="flatNo"
                  name="flatNo"
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Save Address
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Address Modal -->
    <div
      class="modal fade"
      id="editAddressModal"
      tabindex="-1"
      aria-labelledby="editAddressModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="editAddress">
              <input type="hidden" id="addressId" name="addressId" />
              <input type="hidden" name="userId" id="userId" />

              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="editFirstName"
                  name="firstName"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="editLastName"
                  name="lastName"
                />
              </div>

              <div class="mb-3">
                <label for="addressLine1" class="form-label"
                  >Address Line</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="editAddressLine"
                  name="addressLine1"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="editCity"
                  name="city"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="editState"
                  name="state"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="zipCode" class="form-label">Pincode</label>
                <input
                  type="number"
                  class="form-control"
                  id="editZipCode"
                  name="zipCode"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="editCountry"
                  name="country"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  id="editPhone"
                  name="phone"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="flatNo" class="form-label">Flat No</label>
                <input
                  type="text"
                  class="form-control"
                  id="editFlatNo"
                  name="flatNo"
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/_footer') %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      document
        .getElementById("createAddress")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          // Get userId from the hidden input field
          const userId = document.getElementById("userId").value;

          // Get values from the form input fields
          const firstName = document.getElementById("firstName").value;
          const secondName = document.getElementById("secondName").value;
          const phoneNo = document.getElementById("phoneNo").value;
          const email = document.getElementById("AddressEmail").value;
          const addressLine = document.getElementById("addressLine").value;
          const pincode = document.getElementById("pincode").value;
          const state = document.getElementById("state").value;
          const country = document.getElementById("country").value;
          const city = document.getElementById("city").value;
          const flatNo = document.getElementById("flatNo").value;
          const data = {
            userId,
            firstName,
            secondName,
            phoneNo,
            email,
            addressLine,
            pincode,
            state,
            country,
            city,
            flatNo,
          };

          // const addressData = {};
          // formData.forEach((value, key) => {
          //   addressData[key] = value;
          // });

          axios
            .post("/user/profile/address", data)
            .then((response) => {
              if (response.status === 201) {
                location.reload();
              } else {
                alert("Failed to create address");
              }
            })
            .catch((error) => {
              console.error("Error creating address:", error);
              alert("Address creation failed");
            });
        });
    </script>

    <script>
      document
        .getElementById("editAddress")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          // Get the value from the hidden input field
          const addressId = document.getElementById("addressId").value;

          // Get values from the form input fields
          const userId = document.getElementById("userId").value;
          const firstName = document.getElementById("editFirstName").value;
          const lastName = document.getElementById("editLastName").value;
          const addressLine = document.getElementById("editAddressLine").value;
          const city = document.getElementById("editCity").value;
          const state = document.getElementById("editState").value;
          const pincode = document.getElementById("editZipCode").value;
          const country = document.getElementById("editCountry").value;
          const phoneNo = document.getElementById("editPhone").value;
          const flatNo = document.getElementById("editFlatNo").value;

          try {
            const response = await axios.put(
              `/user/profile/address/${addressId}`,
              {
                addressId,
                firstName,
                lastName,
                addressLine,
                city,
                state,
                pincode,
                country,
                phoneNo,
                flatNo,
              }
            );

            // Handle success (e.g., show a success message, close modal, reload data, etc.)
            alert("Address updated successfully");
            location.reload(); // Reload the page to reflect changes, or update the DOM as needed
          } catch (error) {
            // Handle error (e.g., show an error message)
            console.error("Error updating address:", error);
            alert("Failed to update address. Please try again.");
          }
        });
    </script>

    <script>
      function submitSelectedAddress() {
        // Submit the selected address form
        const selectedAddress = document.querySelector(
          'input[name="selectedAddressId"]:checked'
        );
        if (selectedAddress) {
          // Perform an action with the selected address ID
          console.log("Selected Address ID: " + selectedAddress.value);
          // Redirect to the next step in the checkout process
          window.location.href = "/checkout?addressId=" + selectedAddress.value;
        } else {
          alert("Please select an address.");
        }
      }
    </script>
    <script>
      document
        .getElementById("addressForm")
        .addEventListener("submit", function (e) {
          const selectedAddress = document.querySelector(
            'input[name="selectedAddress"]:checked'
          );
          if (!selectedAddress) {
            e.preventDefault(); // Prevent form submission
            alert("Please select an address before submitting the form.");
          }
        });
    </script>

    <script>
      // Populate modal fields with address data
      var addressModal = document.getElementById("editAddressModal");
      addressModal.addEventListener("show.bs.modal", function (event) {
        var button = event.relatedTarget;
        var addressId = button.getAttribute("data-address-id");
        var firstName = button.getAttribute("data-address-first-name");
        var lastName = button.getAttribute("data-address-last-name");
        var addressLine = button.getAttribute("data-address-line1");
        var city = button.getAttribute("data-address-city");
        var state = button.getAttribute("data-address-state");
        var zipCode = button.getAttribute("data-address-zip");
        var country = button.getAttribute("data-address-country");
        var phone = button.getAttribute("data-address-phone");
        var flat = button.getAttribute("data-address-flat");

        var modal = addressModal.querySelector("form");
        modal.querySelector("#addressId").value = addressId;
        modal.querySelector("#editFirstName").value = firstName;
        modal.querySelector("#editLastName").value = lastName;
        modal.querySelector("#editAddressLine").value = addressLine;
        modal.querySelector("#editCity").value = city;
        modal.querySelector("#editState").value = state;
        modal.querySelector("#editZipCode").value = zipCode;
        modal.querySelector("#editCountry").value = country;
        modal.querySelector("#editPhone").value = phone;
        modal.querySelector("#editFlatNo").value = flat;
      });
    </script>

    <!--===============================================================================================-->
    <script src="/public/user/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/public/user/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/public/user/vendor/bootstrap/js/popper.js"></script>
    <script src="/public/user/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/public/user/vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/public/user/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/public/user/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/public/user/js/main.js"></script>
  </body>
</html>
