<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= product.name %> - Product Detail</title>
    <%- include('partials/_header') %>
    <link rel="stylesheet" href="/public/user/css/quickveiw.css" />
  </head>
  <body class="animsition">
    <!-- Header -->
    <%- include('partials/_navbar', {user, wishlist, cart}) %>

    <!-- Wishlist -->
    <%- include('partials/_wishlist', {wishlist}) %>

    <!-- Slider -->
    <!-- <%- include('partials/_slide') %> -->

    <!-- Banner put here -->

    <div class="container">
      <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
        <!-- Breadcrumb -->
        <div class="container py-5">
          <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
              Home
              <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            <a href="#" class="stext-109 cl8 hov-cl1 trans-04">
              Shop
              <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            <span class="stext-109 cl4"> <%= product.name %> </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-7 p-b-30">
            <div class="gallery-container">
              <!-- Sidebar with thumbnail images -->
              <div class="image-sidebar">
                <% product.images.forEach(function(image, index) { %>
                <img
                  src="/public/uploads/<%= image %>"
                  alt="Thumbnail"
                  class="<%= index === 0 ? 'active' : '' %>"
                  data-index="<%= index %>"
                  data-id="<%= product._id %>"
                />
                <% }) %>
              </div>

              <!-- Main image -->
              <div class="main-image">
                <img
                  id="main-image"
                  src="/public/uploads/<%= product.images[0] %>"
                  alt="Main Image"
                />
                <div class="zoom-lens"></div>
                <div class="zoom-result">
                  <img
                    id="zoomed-image"
                    src="/public/uploads/<%= product.images[0] %>"
                    alt="Zoomed Image"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 p-b-30">
            <div class="p-r-50 p-t-5 p-lr-0-lg">
              <!-- Product Name -->
              <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                <%= product.name %>
              </h4>

              <!-- Ratings -->
              <div class="row">
                <div class="ratings col-6">
                  <%= ratings %> stars
                  <span
                    class="fa fa-star <%= ratings >= 1 ? 'checked' : '' %>"
                  ></span>
                  <span
                    class="fa fa-star <%= ratings >= 2 ? 'checked' : '' %>"
                  ></span>
                  <span
                    class="fa fa-star <%= ratings >= 3 ? 'checked' : '' %>"
                  ></span>
                  <span
                    class="fa fa-star <%= ratings >= 4 ? 'checked' : '' %>"
                  ></span>
                  <span
                    class="fa fa-star <%= ratings >= 5 ? 'checked' : '' %>"
                  ></span>
                </div>
                <div class="flex-m bor9 p-r-10 m-r-11">
                  <a
                    href=""
                    class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                    data-tooltip="Add to Wishlist"
                    onclick=""
                  >
                    <i class="zmdi zmdi-favorite"></i>
                  </a>
                </div>
              </div>

              <!-- Price -->
              <!-- <span class="mtext-106 cl2">
                $<%= product.price %> <% if(product.discount) { %>
                <span class="discount">-$<%= product.discount %></span>
                <% } %>
              </span> -->
              <span class="mtext-106 cl2"> $<%= product.price %> </span>

              <!-- Discounts or Coupons Applied -->
              <!-- <% if(product.discount) { %>
              <div class="discounts">
                <span class="badge badge-success"
                  >Discount Applied: $<%= product.discount %></span
                >
              </div>
              <% } %> -->

              <!-- Product Description -->
              <p class="stext-102 cl3 p-t-23"><%= product.description %></p>

              <!-- Stock Status -->
              <% if(product.stock > 0) { %>
              <p class="stock-status text-success">
                In Stock: <%= product.stock %> available
              </p>
              <% } else { %>
              <p class="stock-status text-danger">Out of Stock</p>
              <% } %>

              <!-- Add to Cart -->
              <div class="p-t-33">
                <div class="flex-w flex-r-m p-b-10">
                  <div class="size-204 flex-w flex-m respon6-next">
                    <!-- Form Wrapper -->
                    <form
                      id="addToCartForm"
                      class="d-flex flex-column align-items-start justify-content-between"
                    >
                      <input
                        type="hidden"
                        name="productId"
                        value="<%= product._id %>"
                        id="productId"
                      />

                      <!-- Quantity Counter Wrapper -->
                      <div class="d-flex align-items-center mb-2">
                        <!-- Minus Button -->
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          id="minusButton"
                          onclick="updateQuantity('<%= product._id %>', -1, '<%= product.stock %>')"
                        >
                          <i class="fs-16 zmdi zmdi-minus"></i>
                        </button>

                        <!-- Quantity Input (Disabled for manual editing) -->
                        <input
                          type="number"
                          name="num-product"
                          id="productQuantity"
                          class="form-control text-center mx-2 num-product"
                          value="1"
                          disabled
                        />

                        <!-- Plus Button -->
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          id="plusButton"
                          onclick="updateQuantity('<%= product._id %>', 1, '<%= product.stock %>')"
                        >
                          <i class="fs-16 zmdi zmdi-plus"></i>
                        </button>
                      </div>

                      <!-- Feedback Message -->
                      <div
                        id="feedback"
                        class="invalid-feedback mt-2"
                        style="display: none"
                      >
                        <!-- This element will display feedback messages -->
                      </div>
                    </form>

                    <!-- Add to Cart Button -->
                    <button
                      id="addToCartButton"
                      onclick="addToCart('<%= product._id %>')"
                      class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-5"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>

              <!-- Reviews -->

              <!-- Highlights/Specs of Product -->

              <!-- Related Product Recommendations -->

              <!-- Social Media and Wishlist -->
              <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                <a
                  href="#"
                  class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                  data-tooltip="Facebook"
                >
                  <i class="fa fa-facebook"></i>
                </a>
                <a
                  href="#"
                  class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                  data-tooltip="Twitter"
                >
                  <i class="fa fa-twitter"></i>
                </a>
                <a
                  href="#"
                  class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                  data-tooltip="Google Plus"
                >
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>

              <!-- highlights -->
              <!-- highlights -->
              <div class="highlights p-4 bg-light rounded shadow-sm">
                <h5 class="text-primary font-weight-bold">
                  Product Highlights
                </h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Precision-crafted movement for accurate timekeeping
                  </li>
                  <li class="list-group-item">
                    Scratch-resistant sapphire crystal glass
                  </li>
                  <li class="list-group-item">
                    Water-resistant up to 50 meters
                  </li>
                  <li class="list-group-item">
                    Premium leather strap for superior comfort
                  </li>
                  <li class="list-group-item">
                    Elegant and timeless design suitable for any occasion
                  </li>
                  <li class="list-group-item">
                    Stainless steel case with a polished finish
                  </li>
                  <li class="list-group-item">
                    Multiple time zone functionality
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/_footer') %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>
    <%- include('partials/_scripts') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/public/user/js/quickview.js"></script>
    <script>
      function addToCart(productId) {
        const quantity = parseInt(
          document.getElementById("productQuantity").value
        );

        console.log(productId, quantity);

        axios
          .post(`/cart/add`, {
            quantity,
            productId,
          })
          .then((response) => {
            console.log(response.data.product);
            const product = response.data.product;

            // Update local storage
            const cart = JSON.parse(localStorage.getItem("cart")) || [];
            console.log("localStorage = ", localStorage.getItem("cart"));

            // Check if the product is already in the cart
            const existingProductIndex = cart.findIndex(
              (item) => item.productId === productId
            );

            if (existingProductIndex !== -1) {
              // If the product exists, update the quantity
              cart[existingProductIndex].quantity = quantity;
            } else {
              // If the product does not exist, add it to the cart
              cart.push({
                productId: productId,
                name: product.name,
                price: product.price, // Assuming price is available in the response
                quantity: quantity,
              });
            }

            // Save the updated cart back to local storage
            localStorage.setItem("cart", JSON.stringify(cart));
            console.log("localStorage = ", localStorage.getItem("cart"));

            // SweetAlert for success message
            Swal.fire({
              icon: "success",
              title: "Success!",
              text: `${product.name} added to cart successfully!`,
              confirmButtonText: "OK",
            }).then(() => {
              location.reload();
            });
          })
          .catch((error) => {
            console.error(error);
            if (error.response && error.response.status === 401) {
              // Redirect to login page if the user is not authenticated
              Swal.fire({
                icon: "warning",
                title: "Authentication Required",
                text: "Please log in to add products to your cart.",
                confirmButtonText: "Log In",
              }).then(() => {
                window.location.href = "/auth/login"; // Change '/login' to your actual login route
              });
            } else {
              // Handle other errors
              Swal.fire({
                icon: "error",
                title: "Error",
                text:
                  error.response?.data?.message ||
                  "An error occurred while adding the product to the cart.",
                confirmButtonText: "OK",
              });
            }
          });
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Select all the decrement buttons
        const decrementButtons = document.querySelectorAll(
          ".btn-num-product-down"
        );

        // Select all the increment buttons
        const incrementButtons = document.querySelectorAll(
          ".btn-num-product-up"
        );

        // Loop through decrement buttons and add click event listeners
        decrementButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const input = this.nextElementSibling; // Select the input field next to the button
            let value = parseInt(input.value);

            if (value > 1) {
              // Prevent the value from going below 1
              value -= 1;
              input.value = value;
            }
          });
        });

        // Loop through increment buttons and add click event listeners
        incrementButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const input = this.previousElementSibling; // Select the input field before the button
            let value = parseInt(input.value);

            if (value < 5) {
              value += 1;
              input.value = value;
            }
          });
        });
      });
    </script>
    <script>
      function updateQuantity(productId, changeQuantity, stock) {
        // Select the input field
        const inputField = document.querySelector(`input[name="num-product"]`);
        // Parse the current quantity
        const currentQuantity = parseInt(inputField.value, 10);
        // Calculate the new quantity
        const newQuantity = currentQuantity + changeQuantity;
        // Select the feedback element
        const feedback = document.getElementById(`feedback`);
        // Define the maximum allowed quantity per person
        const maxQuantityPerPerson = 3;

        // Log the current state (for debugging)
        console.log("Current Quantity:", currentQuantity);
        console.log("New Quantity:", newQuantity);

        if (newQuantity > stock) {
          // Display feedback for stock limit and set input value to stock
          feedback.textContent = `Only ${stock} units in stock.`;
          feedback.style.display = "inline-block";
          inputField.value = stock;
        } else if (newQuantity > maxQuantityPerPerson) {
          // Display feedback for max quantity per person and set input value to max allowed
          feedback.textContent =
            "You can purchase a maximum of 3 units per product.";
          feedback.style.display = "inline-block";
          inputField.value = maxQuantityPerPerson;
        } else if (newQuantity <= 0) {
          // Ensure the quantity does not go below 1
          inputField.value = 1;
          feedback.style.display = "none";
        } else {
          console.log("currect", newQuantity);
          // Update the quantity and hide feedback
          inputField.value = newQuantity;
          feedback.style.display = "none";
        }
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Assuming you have the product's stock value in a data attribute or hidden input
        const stock = parseInt("<%= product.stock %>"); // replace with actual method to get stock if needed
        const isListed = "<%= product.isListed %>";
        console.log(typeof isListed);

        const minusButton = document.getElementById("minusButton");
        const plusButton = document.getElementById("plusButton");
        const addToCartButton = document.getElementById("addToCartButton");
        const inputField = document.querySelector(`input[name="num-product"]`);

        // Check if the stock is greater than 0
        if (stock > 0 && isListed === "true") {
          // Enable buttons
          minusButton.disabled = false;
          plusButton.disabled = false;
          addToCartButton.disabled = false;
        } else {
          // Disable buttons if stock is 0 or less
          minusButton.disabled = true;
          plusButton.disabled = true;
          addToCartButton.disabled = true;
          inputField.value = 0;
        }
      });
    </script>
  </body>
</html>
