<header>
  <style>
    /* Ensure backdrop is properly displayed */
    .modal-backdrop {
      z-index: 1040; /* Default z-index for modal-backdrop */
    }

    /* Ensure modal is above the backdrop */
    .modal {
      z-index: 1050; /* Default z-index for modal */
    }

    .modal-content {
      margin-top: 25%;
      border-radius: 0;
      border: none;
    }

    .modal-dialog {
      max-width: 800px;
    }

    .bg-image {
      background-image: url("/public/user/banners/1726634765837-banner_04.webp");
      background-size: cover;
      background-position: center;
      position: relative;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .overlay h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .overlay p {
      margin-bottom: 30px;
    }

    .form-control {
      border-radius: 0;
    }

    .btn {
      border-radius: 0;
    }

    .btn-outline-light:hover {
      color: #000;
      background-color: #fff;
    }
  </style>
  <!-- Header desktop -->
  <div class="container-menu-desktop z-3">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
          <!-- Free shipping for standard order over $100 -->
        </div>

        <div class="right-top-bar flex-w h-full">
          <% if (user) { %>
          <!-- If user is logged in -->
          <a href="/profile/<%= user._id%>" class="flex-c-m trans-04 p-lr-25">
            My Account
          </a>
          <a
            href="/auth/logout"
            id="logoutLink"
            class="flex-c-m trans-04 p-lr-25"
          >
            Logout
          </a>
          <% } else { %>
          <!-- If user is not logged in -->
          <a
            href="#"
            class="flex-c-m p-lr-10 trans-04"
            data-toggle="modal"
            data-target="#loginModal"
            >Login</a
          >
          <a
            href="#"
            class="flex-c-m p-lr-10 trans-04"
            data-toggle="modal"
            data-target="#signupModal"
            >Sign Up</a
          >
          <% } %>
          <!-- 
          <a href="#" class="flex-c-m trans-04 p-lr-25"> Help & FAQs </a>
          <a href="#" class="flex-c-m trans-04 p-lr-25"> EN </a>
          <a href="#" class="flex-c-m trans-04 p-lr-25"> USD </a> -->
        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop container">
        <!-- Logo desktop -->
        <a href="/" class="logo">
          <img src="/public/user/images/icons/zodge_logo.svg" alt="IMG-LOGO" />
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li class="active-menu">
              <a href="/">Home</a>
            </li>

            <li>
              <a href="/shop">Shop</a>
            </li>

            <!-- <li class="label1" data-label1="hot">
              <a href="#">Features</a>
            </li>

            <li>
              <a href="#">Blog</a>
            </li>

            <li>
              <a href="#">About</a>
            </li>

            <li>
              <a href="#">Contact</a>
            </li> -->
          </ul>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">
          <div
            class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search"
          >
            <i class="zmdi zmdi-search"></i>
          </div>

          <!-- Check if cart exists and has products -->
          <a
            href="/cart"
            id="cartIcon"
            class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
            data-notify="<%= cart && cart.products ? cart.products.length : 0 %>"
          >
            <i class="zmdi zmdi-shopping-cart"></i>
          </a>

          <!-- Check if wishlist exists and has productIds -->
          <div
            href="#"
            id="wishlistIcon"
            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
            data-notify="<%= wishlist && wishlist.productIds ? wishlist.productIds.length : 0 %>"
          >
            <i class="zmdi zmdi-favorite-outline"></i>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- Header Mobile -->
  <div class="wrap-header-mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
      <a href="index.html">
        <img src="/public/user/images/icons/logo-01.png" alt="IMG-LOGO" />
      </a>
    </div>

    <!-- Icon header -->
    <div class="wrap-icon-header flex-w flex-r-m m-r-15">
      <div
        class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search"
      >
        <i class="zmdi zmdi-search"></i>
      </div>

      <!-- Check if cart exists and has products -->
      <div
        class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
        data-notify="<%= cart && cart.products ? cart.products.length : 0 %>"
      >
        <i class="zmdi zmdi-shopping-cart"></i>
      </div>

      <!-- Check if wishlist exists and has productIds -->
      <a
        href="#"
        class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
        data-notify="<%= wishlist && wishlist.productIds ? wishlist.productIds.length : 0 %>"
      >
        <i class="zmdi zmdi-favorite-outline"></i>
      </a>
    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div class="menu-mobile">
    <ul class="topbar-mobile">
      <li>
        <div class="left-top-bar">
          Free shipping for standard order over $100
        </div>
      </li>

      <li>
        <div class="right-top-bar flex-w h-full">
          <% if (user) { %>
          <!-- If user is logged in -->
          <a href="/account/<%= user._id %>" class="flex-c-m p-lr-10 trans-04"
            >My Account</a
          >
          <a
            id="logoutBtn"
            href="/auth/logout"
            class="flex-c-m p-lr-10 trans-04"
            >Logout</a
          >
          <% } else { %>
          <!-- If user is not logged in -->
          <a
            href="#"
            class="flex-c-m p-lr-10 trans-04"
            data-toggle="modal"
            data-target="#loginModal"
            >Login</a
          >
          <a
            href="#"
            class="flex-c-m p-lr-10 trans-04"
            data-toggle="modal"
            data-target="#signupModal"
            >Sign Up</a
          >
          <% } %>

          <!-- <a href="#" class="flex-c-m p-lr-10 trans-04"> Help & FAQs </a> -->
          <!-- <a href="#" class="flex-c-m p-lr-10 trans-04"> EN </a>
          <a href="#" class="flex-c-m p-lr-10 trans-04"> USD </a> -->
        </div>
      </li>
    </ul>

    <ul class="main-menu-m">
      <li>
        <a href="/auth/home">Home</a>
        <ul class="sub-menu-m">
          <li><a href="index.html">Homepage 1</a></li>
          <li><a href="home-02.html">Homepage 2</a></li>
          <li><a href="home-03.html">Homepage 3</a></li>
        </ul>
        <span class="arrow-main-menu-m">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      </li>

      <li>
        <a href="product.html">Shop</a>
      </li>

      <li>
        <a href="shoping-cart.html" class="label1 rs1" data-label1="hot"
          >Features</a
        >
      </li>

      <li>
        <a href="blog.html">Blog</a>
      </li>

      <li>
        <a href="about.html">About</a>
      </li>

      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </div>

  <!-- Modal Search -->
  <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <div class="container-search-header">
      <button
        class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search"
      >
        <img src="/public/user/images/icons/icon-close2.png" alt="CLOSE" />
      </button>

      <form class="wrap-search-header flex-w p-l-15">
        <button class="flex-c-m trans-04">
          <i class="zmdi zmdi-search"></i>
        </button>
        <input class="plh3" type="text" name="search" placeholder="Search..." />
      </form>
    </div>
  </div>

  <!-- Login Modal -->
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="row no-gutters">
            <div class="col-md-6 bg-image">
              <div class="overlay">
                <h2>HELLO WORLD.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                <button
                  class="btn btn-outline-light"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#signupModal"
                >
                  Sign Up
                </button>
              </div>
            </div>
            <div class="col-md-6 bg-white p-5">
              <h3 class="mb-4">Login</h3>
              <form id="loginForm" action="/auth/login" method="POST">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="loginEmail"
                    placeholder="Email"
                    required
                  />
                  <div id="loginEmailFeedback" class="feedback"></div>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="loginPassword"
                    placeholder="Password"
                    required
                  />
                  <div id="loginPasswordFeedback" class="feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
                <a
                  href="#"
                  id="forgotPasswordLink"
                  class="d-block text-center mt-3"
                >
                  Forgot Password?
                </a>
              </form>
              <hr />
              <a href="/auth/google/login" class="btn btn-danger btn-block">
                <i class="fab fa-google"></i> Login with Google
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Signup Modal -->
  <div
    class="modal fade"
    id="signupModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="signupModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="row no-gutters">
            <div class="col-md-6 bg-image">
              <div class="overlay">
                <h2>HELLO WORLD.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                <button
                  class="btn btn-outline-light"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#loginModal"
                >
                  Login
                </button>
              </div>
            </div>
            <div class="col-md-6 bg-white p-5">
              <h3 class="mb-4">Sign Up</h3>
              <form id="signUpForm" action="/auth/signup" method="POST">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    id="firstName"
                    placeholder="First Name"
                    required
                  />
                  <div id="firstNameFeedback" class="feedback"></div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    id="lastName"
                    placeholder="Last Name"
                    required
                  />
                  <div id="lastNameFeedback" class="feedback"></div>
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Email"
                    required
                  />
                  <div id="emailFeedback" class="feedback"></div>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Password"
                    required
                  />
                  <div id="passwordFeedback" class="feedback"></div>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    id="confirmPassword"
                    placeholder="Confirm Password"
                    required
                  />
                  <div id="confirmPasswordFeedback" class="feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Sign Up
                </button>
              </form>
              <hr />
              <a href="/auth/google/signup" class="btn btn-danger btn-block">
                <i class="fab fa-google"></i> Sign Up with Google
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Forgot Password Modal -->
  <div
    class="modal fade"
    id="forgotPasswordModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="forgotPasswordModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordModalLabel">
            Forgot Password
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="forgotPasswordForm">
            <div class="form-group">
              <label for="forgotEmail"
                >Enter your registered email address</label
              >
              <input
                type="email"
                class="form-control"
                id="forgotEmail"
                placeholder="Email"
                required
              />
              <div id="forgotEmailFeedback" class="feedback"></div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Send Reset Link
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Include SweetAlert2 library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const loginForm = document.getElementById("loginForm");
      const forgotPasswordForm = document.getElementById("forgotPasswordForm");
      const forgotPasswordLink = document.getElementById("forgotPasswordLink");

      // Handle Forgot Password link click
      forgotPasswordLink.addEventListener("click", function (event) {
        event.preventDefault();
        $("#loginModal").modal("hide"); // Hide the login modal
        $("#forgotPasswordModal").modal("show"); // Show the forgot password modal
      });

      // Handle Forgot Password form submission
      forgotPasswordForm.addEventListener("submit", function (event) {
        event.preventDefault();

        const email = document.getElementById("forgotEmail").value;
        const emailFeedback = document.getElementById("forgotEmailFeedback");

        // Basic email validation (you might want to add more robust validation here)
        const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;

        if (emailPattern.test(email)) {
          // Mock sending request (replace with actual AJAX request)
          $("#forgotPasswordModal").modal("hide"); // Hide the forgot password modal
          axios
            .post("/auth/forgot-password", { email })
            .then((response) => {
              console.log(response.data);
              if (response.data.success) {
                Swal.fire({
                  title: "Success!",
                  text: "Password reset link has been sent to your email.",
                  icon: "success",
                  confirmButtonText: "OK",
                }).then(() => {
                  // $("#forgotPasswordModal").modal("hide"); // Hide the forgot password modal
                  $("#loginModal").modal("show"); // Show the login modal again
                });
              }
            })
            .catch((err) => {
              Swal.fire({
                icon: "error",
                title: "Error",
                text: `${err.response.data.message}`,
              }).then(() => {
                // $("#forgotPasswordModal").modal("hide"); // Hide the forgot password modal
                $("#loginModal").modal("show"); // Show the login modal again
              });
            });
        } else {
          // Show error feedback
          emailFeedback.textContent = "Please enter a valid email address.";
          emailFeedback.classList.add("invalid-feedback");
        }
      });
    });
  </script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const logoutLink = document.getElementById("logoutLink");

      if (logoutLink) {
        logoutLink.addEventListener("click", (event) => {
          // Clear localStorage
          localStorage.clear();

          // Optionally, clear sessionStorage as well
          sessionStorage.clear();

          // Note: The default behavior of the link will still occur
          // which means it will navigate to /auth/logout
        });
      }
    });
  </script>
  <script>
    $(document).ready(function () {
      $(".overlay .btn").click(function () {
        var currentModal = $(this).closest(".modal");
        var targetModal =
          currentModal.attr("id") === "loginModal"
            ? "#signupModal"
            : "#loginModal";
        currentModal.modal("hide");
        $(targetModal).modal("show");
      });
    });
  </script>
  <script>
    // Function to show the signup modal and hide the login modal
    function showSignupModal() {
      $("#loginModal").modal("hide"); // Hide login modal
      $("#signupModal").modal("show"); // Show signup modal
    }

    // Function to show the login modal and hide the signup modal
    function showLoginModal() {
      $("#signupModal").modal("hide"); // Hide signup modal
      $("#loginModal").modal("show"); // Show login modal
    }

    // Attach event listeners to buttons
    document.addEventListener("DOMContentLoaded", () => {
      // Attach event listener to the "Sign Up" button in the login modal
      document
        .querySelector("#loginModal .btn-outline-light")
        .addEventListener("click", showSignupModal);

      // Attach event listener to the "Login" button in the signup modal
      document
        .querySelector("#signupModal .btn-outline-light")
        .addEventListener("click", showLoginModal);
    });
  </script>
  <script src="/public/user/js/validation.js"></script>
</header>
