<!-- reviews -->
<div class="reviews">
  <h5>Customer Reviews</h5>
  <% product.reviews.forEach(function(review) { %>
  <div class="review">
    <p><strong><%= review.author %></strong>: <%= review.content %></p>
  </div>
  <% }) %>
</div>

<!-- highlights -->
<div class="highlights">
  <h5>Product Highlights</h5>
  <ul>
    <% product.highlights.forEach(function(highlight) { %>
    <li><%= highlight %></li>
    <% }) %>
  </ul>
</div>

<!-- related products -->
<div class="related-products">
  <h5>Related Products</h5>
  <div class="row">
    <% product.relatedProducts.forEach(function(relatedProduct) { %>
    <div class="col-md-4">
      <div class="related-product">
        <img
          src="/public/uploads/<%= relatedProduct.image %>"
          alt="<%= relatedProduct.name %>"
          class="img-thumbnail"
        />
        <p><%= relatedProduct.name %></p>
        <span>$<%= relatedProduct.price %></span>
      </div>
    </div>
    <% }) %>
  </div>
</div>
